*.out
*.solution
.DS_Store
*.tgz
Puzzles/Master/sudoku17-master.jsonl
Puzzles/Master/sudoku17-master.tsv
Puzzles/Master/sudoku17-master-summary.txt
Puzzles/Master/sudoku17-master.jsonl.zst
Puzzles/Master/sudoku17-master.sqlite
