*.out
*.solution
generation-difficulty-drops.csv
.DS_Store
*.tgz
Puzzles/Master/sudoku17-master.jsonl
Puzzles/Master/sudoku17-master.tsv
Puzzles/Master/sudoku17-master-summary.txt
Puzzles/Master/sudoku17-master.jsonl.zst
Puzzles/Master/sudoku17-master.sqlite
docs/1201.0749v2.pdf
